html,
body,
#root {
  height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  background: linear-gradient(90deg, rgb(193 237 223) 0%, #adefe4 100%);
}

html.dark {
  background: #333;
}

@keyframes enlarge {
  60% { transform: scale(1.06); }
}

canvas.animation {
  animation: enlarge 0.3s alternate;
}
